root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[data/**.{html,css,js,json}]
indent_size = 2

[scripts/node/**.{js,json}]
indent_size = 2
